#question {
  background-color: #c6f3dc;
  border-radius: 1rem;
  padding: 2rem;
  width: 500px;
  position: relative;
}

.home {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 26px;
  padding: 5px 10px;
}

#question p {
  margin-bottom: 1rem;
}

#question button {
  border: 2px solid #000;
  margin: 1rem 0 1rem 1rem;
}

.question-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.question-description > button {
  font-size: 16px;
}

.audio {
  margin: 0 0 0 0.5rem!important;
  font-size: 10px;
}

h2 {
  font-weight: normal;
}

.image-question {
  width: 200px;
  height: 200px;
}

.container-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-question > button {
  height: 50px;
}